.minus-btn{
    max-width: 10px;
    max-height: 10px;
    display: inline-block;
    Cursor: pointer;
}
.plus-btn{
    max-width: 10px;
    max-height: 10px;
    display: inline-block;
    Cursor: pointer;
}
.shopping-cart{
    position: absolute;
    left: 2100px;
    bottom: 300px;
    width: 400px;
    height: 800px;
    background-color: white;   
}
.cart-thumbnail{
    position: relative;
    height: 50px;
    width: 50px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.title div{
    flex: 55;
}
.cart-item{
    padding-top: 10px;
    padding-left: 25px;
    border: black 1px solid;
}