
.mask{
    background-color: rgb(255, 255, 255);
}
.bg-image{
    background-image: url('./jumbotron-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
}
.jumbotron-text{
    color: white;
}
body{
    background: -webkit-linear-gradient(bottom, #323e47, #2e3638);
}