

.bg-image{
    background-image: url('./jumbotron-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}
#jumbotrontext{
    color: white;
}
body{
    background: -webkit-linear-gradient(bottom, #323e47, #2e3638);
}
.jumbotron-button{

    position: relative;
    background-color: #00ABE7 !important;
    border: white !important;
    
}