

.bg-image{
    background-image: url('./jumbotron-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
}
#jumbotrontext{
    color: white;
}
body{
    background: -webkit-linear-gradient(bottom, #323e47, #2e3638);
}
.jumbotron-button{
    top: 240px;
    position: absolute;
    background-color: #00ABE7 !important;
    border: white !important;
}