.reviews-container{
    background-color: white;
    position: relative;
    top: 900px;
    overflow-y: auto;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.panel-default{
    border: 2px solid black;
    margin-left: 20%;
    width: 1200px;
    margin-top: 20px;
}
.reviews-container-title{
    border-bottom: 2px solid black;
    text-align: center;
}