.checkout-container{
    background-color: white;
    height: 800px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.checkout-title{
    text-align: center;
    
}
.paypal-button{
    position: relative;
    top: 530px;
    left: 350px;
}
.checkout-item{
    position: relative;
    bottom: 250px;
    border: 1px solid black;
    
}
.checkout-item .checkout-thumbnail{
   position: relative;
   display: inline;
    
}
.checkout-thumbnail{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 25px;
}